<div>
  <h3>Users list:</h3>
        <table  class="table table-bordered table-hover" style="width: 50%;" >
          <tr>
           <td> Name:</td>
          <td> Email:</td>
           </tr>
          <tr *ngFor ="let user of users">
          <td> {{user.name}}</td><td> {{user.email}}</td>           
        </tr>
        </table>
</div>