<div>
  <h3>Posts list:</h3>
  <ul class="list-group posts">
        <li class="list-group-item" *ngFor = "let post of posts" 
          [class.active]="currentPost == post"
          (click)="select(post)" >
            <div>
                Author: {{post.author}}
            </div>
            <div>
                Title: {{post.title}}
            </div>  
            <div>
                Content: {{post.content}}
            </div>    
            <jce-post></jce-post>          
        </li>
  </ul>
</div>